<ion-view view-title="Add something">
  <ion-content class="padding" irl-swipe-back>
    
    
      
      <div class="list">
        
          <label class="item item-input">
              <input type="text" autofocus refocus placeholder="Name" ng-model="character.name"  required>
          </label>
        
          <div class="item item-input-inset" >
              <label class="item-input-wrapper">
                  <input type="number" placeholder="Initiative (optional)" ng-model="character.initiative">
              </label>
          </div>
         
          <button class="button button-positive button-full" ng-click="create()">Add Character</button>     
              
          <div style="text-align: center;">
              - or add as an event -
          </div>
          
          
          <div class="row">
              <div class="col">
                  <button class="button button-royal button-full" ng-click="create({delayTurn:0, pass:0})">This Pass</button>     
              </div>
              <div class="col">
                  <button class="button button-royal button-full" ng-click="create({delayTurn:0, pass:1})">Next Pass</button>
              </div>
              <div class="col">
                  <button class="button button-dark button-full" ng-click="create({delayTurn:1, pass:0})">Next Turn</button>     
              </div>
        </div>

          

               
              
          

      </div>
      
      <b>Notes</b><br/>
      <small>
          Current Initiative: {{currentInitiative}} <br/>
          Current Pass: {{currentPass}} <br/>
          Grenades would explode on initiative {{currentInitiative-10 >0 ? currentInitiative-10:1}} <b>next</b> turn <br/>
      </small>
    
  </ion-content>
</ion-view>