<ion-view view-title="{{character.name}} Options">
  <ion-content class="padding" irl-swipe-back>
  
    <div ng-show="!character.isEvent">

        <a class="button button-positive button-full" type="button" ng-click="addInterupt(character, {name: 'Full Defence', initiative:-10, persist: true})" >Full Defense (-10)</a>     
        <a class="button button-positive button-full" type="button" ng-click="addInterupt(character, {name: 'Dodge / Parry / Block', initiative:-5, persist: false})" >Dodge / Parry / Block (-5)</a> 
    <a class="button button-positive button-full" type="button" ng-click="addInterupt(character, {name: 'Counterspell', initiative:-5, persist: true})">Counterspell (-5)</a> 
    <a class="button button-positive button-full" type="button" ng-click="addInterupt(character, {name: 'Other'})">Other (-?)</a> 
      <hr />
      </div>
      <a class="button button-calm button-full" type="button" ng-click="editCharacter(character)" >Edit</a>     

      <a class="button button-assertive button-full" type="button" ng-click="deleteCharacter(character)" >Delete</a>     

  </ion-content>
</ion-view>