<ion-side-menus enable-menu-with-back-views="true" enable-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="main" >            
        </ion-nav-view>        
    </ion-side-menu-content>
    <ion-side-menu side="left">        
            <ion-header-bar class="bar-stable">
                <h1 class="title">What's up Chummer?</h1>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                   
                    <ion-item menu-close nav-clear ng-click="rollInitiative()">
                        Roll Initiative
                    </ion-item>
                    
                    <ion-item menu-close nav-clear ng-click="addCharacter()" >
                        Add Something
                    </ion-item>
                    
                    <ion-item menu-close nav-clear ng-click="clearEverything()" >
                        Clear Everything
                    </ion-item>

                    <ion-item class=" list-divider"></ion-item>
                    
                    <ion-item menu-close ng-click="show('app.welcome')">
                        About
                    </ion-item>
                </ion-list>
            </ion-content>            
        </ion-side-menu>
</ion-side-menus>
