<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="SR5 Intitiative Tracker" disable-back-button="true">
  <ion-content class="padding">
    
      
      <button class="button button-positive button-full" type="button" ng-click="activeCharacterTakesPass()" ng-if="actingCharacter() != null">Next!</button>     
      
      <button class="button button-balanced button-full" type="button" ng-click="rollInitiative()" ng-if="actingCharacter() == null" >Roll Initiative!</button>     
      
      <div class="list" >
          
          <div class="item item-icon-right list-divider row-no-top-border row-no-side-border" style="padding-bottom:10px;" ng-click="addCharacter()" >
              <b>Initiative Order</b>
              <a >
                  <i class="icon ion-plus positive icon-smaller"></i>
              </a>
          </div>
          <!--ng-click="showInfoPage(category.infoPageState); $event.stopPropagation();"-->

          <div ng-repeat="character in characters" class="item item-icon-right  row-no-side-border" style="padding-bottom:10px;" ng-click="showCharacterOptions(character)">
              {{character.name}} <small>({{character.initiative || '-'}}, Pass {{character.pass}}, Turn: {{character.turn}}) </small>              
              <div ng-repeat="effect in character.effects" style="font-size: x-small; font-style: italic;">
                  {{effect}}
              </div>

              <a >
                  <i class="icon ion-more icon-smaller"></i>
              </a>
          </div>

      </div>

  </ion-content>
</ion-view>
