<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="SR5 Intitiative Tracker" disable-back-button="true">
  <ion-content class="padding">
            
      
      <button class="button button-positive button-full" type="button" ng-click="activeCharacterTakesPass()" ng-if="actingCharacter() != null">Next!</button>     
      
      <button class="button button-balanced button-full" type="button" ng-click="rollInitiative()" ng-if="actingCharacter() == null" >Roll Initiative!</button>     
      
      <ion-list class="list" >
          
          <ion-item class="item item-icon-right list-divider row-no-top-border row-no-side-border" style="padding-bottom:10px;"
               on-hold="addCharacter()"
               on-tap="quickAddCharacter()">
              <b>Initiative Order</b><br/>              
              <a>
                  <i class="icon ion-plus positive icon-smaller"></i>                  
              </a>
          </ion-item>
          <!--ng-click="showInfoPage(category.infoPageState); $event.stopPropagation();"-->

          <ion-item ng-repeat="character in characters" can-swipe="true" class="item row-no-side-border item-button-right"
                    on-tap-old="setInitiative(character)" on-tap="showCharacterOptions(character);"
                    >

              <span class=" item-icon-left" ng-show="character.isEvent">
              <i class="icon ion-clock icon-smaller"></i>
              </span>

              <span ng-style="getStyleIfCharacterIsInactiveThisPass(character)">
                  {{character.name}} <small>({{character.initiative || '-'}}, Pass {{character.pass}}{{character.turn>0?' Next Turn':''}}) </small>

                  <div ng-repeat="effect in character.effects" style="font-size: x-small; font-style: italic;">{{effect}}</div>
              </span>

              <div class="buttons">
                  <button class="button button-calm" on-tap="addInitiative(character, -1); $event.stopPropagation();">
                      <i class="icon ion-minus "></i>
                  </button>

                  <button class="button button-calm" on-tap="addInitiative(character, 1); $event.stopPropagation();">
                      <i class="icon ion-plus"></i>
                  </button>
              </div>


              <ion-option-button class="button-positive" on-tap="showCharacterOptions(character); $event.stopPropagation();">Advanced</ion-option-button>
              <ion-option-button class="button-assertive" on-tap="deleteCharacter(character); $event.stopPropagation();">Delete</ion-option-button>



          </ion-item>

      </ion-list>

  </ion-content>
</ion-view>
